* {
  box-sizing: border-box;
  font-family: "Ubuntu";
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f6f1f1;
}

.container {
  max-width: 1024px;
  margin: 10px auto;
}

.form {
  width: 80%;
  margin: 0 auto;
}

.infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;
  background-color: #19a7ce;
  border: 2px solid black;
}

.info {
  width: 30%;
  margin: 20px 5px;
}

.info input {
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 5px;
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  outline: none;
  color: rgb(40, 40, 40);
}

.submit {
  text-align: center;
  margin: 10px auto;
}

input[type="submit"] {
  border: 2px solid;
  border-radius: 20px;
  padding: 10 5px;
  width: 25%;
  color: white;
  background-color: #0f70e6;
  border-color: #0f70e6;
}

.title {
  font-size: 30px;
  text-align: center;
}

.ok {
  text-align: center;
  color: green;
}

.alert {
  text-align: center;
  width: 50%;
  margin: 10px auto;
}
